@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "О компании";
}

<div>
    <h3>@Localizer["Title"]</h3>
</div>

<div>
    <p>@Localizer["Information"]</p>
</div>