@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SimpleStore.ViewModels.User.UserChangePassViewModel

@if (User.Identity.IsAuthenticated)
{
    ViewBag.Title = "Изменение пароля";


    <h3>@Localizer["Title"] @Model.Email</h3>

    <form asp-action="ChangePassword" asp-controller="Home">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label asp-for="OldPassword" class="control-label"></label>
            <input type="text" asp-for="OldPassword" class="form-control col-xl-3" />
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control col-xl-3" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control col-xl-3" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-dark" type="submit" value="@Localizer["Save"]" />
            <a class="btn btn-outline-secondary" asp-action="Settings">@Localizer["Back"]</a>
        </div>
    </form>
}


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}