@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Контакты";
}

<h3>@Localizer["Title"]</h3>

<p>@Localizer["Phone"]</p>
<p>@Localizer["Address"]</p>

<img style='width:400px; height:300px;' src="~/img/Map.jpg" />