@{
    ViewBag.Title = "Контакты";
}

<h3>Контакты</h3>

<p class="karm2">Наши контактные телефоны:... <br/>Мы находимся по адресу:...</p>
<img style='width:400px; height:300px;' src="~/img/Map.jpg" />