@model SimpleStore.ViewModels.User.UserEditDataViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
}

<h2>Изменения данных пользователя</h2>

<form asp-action="EditData" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div>
        <label asp-for="FullName"></label><br />
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>
    <div>
        <label asp-for="Address"></label><br />
        <textarea asp-for="Address"></textarea>
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label><br />
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="DateBirth"></label><br />
        <input type="date" asp-for="DateBirth" />
        <span asp-validation-for="DateBirth"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
    <div>
        <a asp-action="Settings">Назад</a>
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}