@model IEnumerable<SimpleStore.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    var aUser = Model.FirstOrDefault(M => M.UserName == User.Identity.Name);

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
        <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Settings" asp-route-id="@aUser.Id">Настройки</a>
    <a class="btn btn-sm btn-primary" asp-action="MyOrders" asp-route-UserId="@aUser.Id">Мои покупки</a>
    </form>

    @if (User.IsInRole("Moderator"))
    {
        <a class="btn btn-sm btn-primary" asp-controller="EditShop" asp-action="Index">Модерация магазина</a>
        <a class="btn btn-sm btn-primary" asp-controller="Booking" asp-action="Index">Заказы</a>
        if (User.IsInRole("Admin"))
        {
            <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Index">Редактирование пользователей </a>
            <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Index">Настройка ролей </a>
        }
    }
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}