@model IEnumerable<SimpleStore.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    var aUser = Model.FirstOrDefault(M => M.UserName == User.Identity.Name);

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>

    <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Settings" asp-route-id="@aUser.Id">Настройки</a>
    <a class="btn btn-sm btn-primary" asp-action="MyOrders" asp-route-UserId="@aUser.Id">Мои покупки</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}