@model IEnumerable<SimpleStore.Models.User>

@{
    ViewBag.Title = "Settings Page";
}

@if (User.Identity.IsAuthenticated)
{
    var aUser = Model.FirstOrDefault(M => M.UserName == User.Identity.Name);

    <a class="btn btn-sm btn-outline-secondary set-back" asp-action="Index" asp-route-id="@aUser.Id">Назад</a>
    <a class="btn btn-sm btn-outline-dark set-data" asp-action="EditData" asp-route-id="@aUser.Id">Изменить данные пользователя</a>
    <a class="btn btn-sm btn-outline-dark set-email" asp-action="ChangeEmail" asp-route-id="@aUser.Id">Изменить электронный адрес</a>
    <a class="btn btn-sm btn-outline-dark set-pass" asp-action="ChangePassword" asp-route-id="@aUser.Id">Изменить пароль</a>
}