@model SimpleStore.Models.Shop.Headphone

@{
    ViewBag.Title = "Удаление наушников";
}

<h3>Вы уверены, что хотит удалить наушники @Model.Name?</h3>

<form method="post" asp-controller="EditShop" asp-action="DeleteHeadphone">
    <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
    <a asp-action="ShowHeadphones" asp-controller="EditShop" class="btn btn-sm btn-secondary">Нет</a>
</form>