@model SimpleStore.Models.Shop.Headphone

@{
    ViewBag.Title = "Редактирование наушников";
}

<form method="post" asp-action="EditHeadphone" asp-controller="EditShop" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label><br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label><br />
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Availability"></label><br />
        <select asp-for="Availability">
            <option value="В наличии">В наличии</option>
            <option value="Скоро будет в продаже">Скоро будет в продаже</option>
            <option value="Нет в наличии">Нет в наличии</option>
        </select>
        <span asp-validation-for="Availability"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label"></label><br />
        <input type="file" asp-for="File" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранть" class="btn btn-outline-secondary" />
    </div>
    <div>
        <a asp-action="ShowHeadphones">Назад</a>
    </div>
</form>