@model SimpleStore.Models.User

@{
    ViewBag.Title = "Удаление пользователя";
}

<h3>Вы уверены, что хотит удалить пользователя @Model.Email?</h3>

<form method="post" asp-controller="Admin" asp-action="DeleteUser">
    <input type="hidden" name="id" value="@Model.Id" />
    <input class="btn btn-sm btn-danger" type="submit" value="Удалить" />
    <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Admin">Назад</a>
</form>