
@{
    ViewBag.Title = "Все товары";
}

<div>
    <a asp-action="Product" asp-route-type="Phone">
        <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
            Телефоны 

    </a>
</div>

<div>
    <a asp-action="Product" asp-route-type="Case">
        <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
            Чехлы для телефонов
    </a>
</div>

<div>
    <a asp-action="Product" asp-route-type="Headphone">
        <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
            Наушники
    </a>
</div>

<div>
    <a asp-action="Product" asp-route-type="Powerbank">
        <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
            Powerbank
    </a>
</div>