
@{
    ViewBag.Title = "Все товары";
}

<a asp-action="Create">Добавить товар</a>

<div>
    <a asp-action="Phone">

        <img style='width:100px; height:100px;' src="~/img/Phone.jpg" /><br />
        Телефоны
    </a>
</div>

<div>
    <a asp-action="Case">

        <img style='width:100px; height:100px;' src="~/img/Case.jpg" /><br />
        Чехлы для телефонов
    </a>
</div>