@model SimpleStore.Models.Shop.Phone

@{
    ViewBag.Title = "Удаление телефона";
}

<h3>Вы уверены, что хотит удалить телефон @Model.Name?</h3>

<form method="post" asp-controller="EditShop" asp-action="DeletePhone">
    <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
    <a asp-action="Index" asp-controller="Admin" class="btn btn-sm btn-secondary">Нет</a>
</form>