@model SimpleStore.Models.Product

@{
    ViewBag.Title = "Добавление товара";
}

<h3>Добавление товара</h3>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input name="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Type"></label><br />
        <select asp-for="Type">
            <option value="Case">Чехол</option>
            <option value="Headphone">Наушники</option>
            <option value="Phone">Телефон</option>
            <option value="Powerbank">Powerbank</option>
        </select>
        <span asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label><br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label"></label><br />
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity" class="control-label"></label><br />
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label><br />
        <textarea class="textar" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label><br />
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Availability"></label><br />
        <select asp-for="Availability">
            <option value="В наличии">В наличии</option>
            <option value="Скоро будет в продаже">Скоро будет в продаже</option>
            <option value="Нет в наличии">Нет в наличии</option>
        </select>
        <span asp-validation-for="Availability"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label"></label><br />
        <input type="file" asp-for="File" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Добавить" />
        <a class="btn btn-primary" asp-action="Index">Назад</a>
    </div>
</form>