@model SimpleStore.Models.Product

@{
    ViewBag.Title = "Удаление товара";
}

<h3>Вы уверены, что хотите удалить товар @Model.Name?</h3>

<form method="post" asp-action="Delete">
    <input type="hidden" name="id" value="@Model.Id">
    <input class="btn btn-sm btn-danger" type="submit" value="Удалить" />
    <a class="btn btn-sm btn-primary" asp-action="ShowProducts" asp-route-type="@Model.Type">Назад</a>
</form>