@{
    ViewBag.Title = "Редактирование товаров";
}

<h3 class="main_text_editshop">Страница модерации магазина </h3>

<div class="menu_block">

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="EditShop" asp-action="ShowProducts" asp-route-type="Phone">
            <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
            Редактировать телефоны
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="EditShop" asp-action="ShowProducts" asp-route-type="Case">
            <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
            Редактировать чехлы
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="EditShop" asp-action="ShowProducts" asp-route-type="Headphone">
            <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
            Редактировать наушники
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="EditShop" asp-action="ShowProducts" asp-route-type="Powerbank">
            <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
            Редактировать powerbank
        </a>
    </div>

</div>