@{
    ViewBag.Title = "Редактирование товаров";
}

<h3 class="atten">Страница модерации магазина </h3>

<div>
    <a class="btn btn-lg btn-outline-dark S-Phone" asp-action="ShowProducts" asp-route-type="Phone">
        <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
        Редактировать телефоны
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark M-Case" asp-action="ShowProducts" asp-route-type="Case">
        <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
        Редактировать чехлы
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark M-Headphone" asp-action="ShowProducts" asp-route-type="Headphone">
        <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
        Редактировать наушники
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark M-Powerbank" asp-action="ShowProducts" asp-route-type="Powerbank">
        <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
        Редактировать powerbank
    </a>
</div>