@model SimpleStore.Models.Novelty

@{
    ViewBag.Title = "Удаление новости";
}

<h3>Подтвердите удаление новости "@Model.Title"</h3>

<form asp-action="Delete" asp-controller="News">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id">
        <input class="btn btn-sm btn-danger" type="submit" value="Удалить" />
        <a class="btn btn-sm btn-primary" asp-action="Index">Назад</a>
    </div>
</form>