@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SimpleStore.Models.Novelty

@{
    ViewBag.Title = "Чтение новости";
}

<h3>@Model.Title</h3>
<div>@Model.Message</div>

<a class="btn btn-outline-secondary edit-btn" asp-action="Index">@Localizer["Back"]</a>