@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SimpleStore.ViewModels.Authentication.LoginViewModel

@{
    ViewBag.Title = "Аутентификация";
}

<h3>@Localizer["Title"]</h3>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input class="btn btn-outline-dark" type="submit" value="@Localizer["Login"]" />
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">@Localizer["Back"]</a>
    </div>
</form>