@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SimpleStore.ViewModels.Authentication.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
}

<h3>@Localizer["Title"]</h3>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="FullPath" value="@Model.FullPath">
    <div>
        <label asp-for="FullName"></label><br />
        <input class="col-3" asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>
    <div>
        <label asp-for="Address"></label><br />
        <textarea class="textar" asp-for="Address"></textarea>
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label><br />
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="DateBirth"></label><br />
        <input type="date" asp-for="DateBirth" value="0001-01-01" />
        <span asp-validation-for="DateBirth"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input class="col-3" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input class="col-3" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input class="col-3" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input class="btn btn-outline-dark edit-btn" type="submit" value="@Localizer["Registration"]" />
        <a class="btn btn-outline-secondary edit-btn" asp-controller="Home" asp-action="Index">@Localizer["Back"]</a>
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}