@model string

@{
    ViewBag.Title = "Создание роли";
}

<h3>Добавление новой роли</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="CreateRole">
    <div class="form-group col-md-4">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>

    <div class="form-row">
        <div class=" form-group col-md-2">
            <button class="btn btn-success form-control" type="submit">Добавить</button>
        </div>
        <div class=" form-group col-md-2">
            <a class="btn btn-primary form-control" asp-action="Roles">Назад</a>
        </div>
    </div>

</form>