@model string

@{
    ViewBag.Title = "Создание роли";
}

<h3>Добавление новой роли</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="CreateRole">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button class="btn btn-success" type="submit">Добавить</button>
    <a class="btn btn-primary" asp-action="Roles">Назад</a>
</form>