@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewBag.Title = "Удаление роли";
}

<h3>Вы уверены, что хотит удалить роль @Model.Name? Это может привести к сбою авторизации всего проекта!</h3>

<form method="post" asp-action="DeleteRole">
    <input type="hidden" name="id" value="@Model.Id">
    <input class="btn btn-sm btn-danger" type="submit" value="Удалить" />
    <a class="btn btn-sm btn-primary" asp-action="Roles">Назад</a>
</form>