@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Список ролей";
}

<h3>Список ролей</h3>
<table class="table table-hover col-md-4">
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Name
            </td>
            <td>
                <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-sm btn-outline-danger form-control">Удалить</a>
            </td>
        </tr>
    }
</table>

<div class="form-group col-md-4">
    <a class="btn btn-outline-primary form-control" asp-action="CreateRole">Добавить роль</a>
</div>
<div class="form-group col-md-4">
    <a class="btn btn-outline-primary form-control" asp-action="Index">Список пользователей</a>
</div>