@model SimpleStore.Models.Shop.Powerbank

@{
    ViewBag.Title = "Удаление powerbank";
}

<h3>Вы уверены, что хотит удалить powerbank @Model.Name?</h3>

<form method="post" asp-controller="EditShop" asp-action="DeletePowerbank">
    <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
    <a asp-action="ShowPowerbank" asp-controller="EditShop" class="btn btn-sm btn-secondary">Нет</a>
</form>