.navbar { /*header*/
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #212529 !important;
}

.footer {
    background-color: #212529;
}

.page-item.active .page-link { /*page*/
    color: #0c0c0c;
    background-color: #ffffff;
    border-color: #212529;
}

.heil {
    position: sticky;
    margin-bottom:-1px;
    margin-right:10px;
    left: 550px;
    top: 7px;
    color: #f8f9fa;
}

.logout {
    position: sticky;
    margin-right:-50px;
    color: #f8f9fa;
    background-color: #96989a;
}

.register {
    height: 30px;
    position:sticky;
    margin-left:10px;
    margin-right:-50px;
    color: #f8f9fa;
    background-color: #96989a;
}

.login {
    height: 30px;
    position: sticky;
    color: #f8f9fa;
    background-color: #96989a;
}

.atten {
    margin-left:50px;
    margin-top:140px;
}

.news {
    font-style: italic;
    margin-left: 80px;
    margin-top: 30px;
    width: 380px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    border-radius: 1.5rem;
}

.myorders {
    position: sticky;
    left: 1315px;
    margin-top:-460px;
    margin-right: 90px;
}

.settings {
    position: sticky;
    left: 1428px;
    margin-top: -460px;
}

.orders {
    position: sticky;
    left: 1287px;
    margin-right: 157px;
    margin-top:-430px;
}

.moder {
    position: sticky;
    left: 1386px;
    margin-top: -430px;
}

.admin {
    position: sticky;
    left: 1388px;
    margin-top:-400px;
}

a.btn.btn-lg.btn-outline-dark {
    border-color: #f8f9fa;
    border-radius: 1.5rem;
}

/*shop-home*/

.S-Phone {
    position: sticky;
    margin-left:90px;
    margin-top: 15px;
}

.S-Headphone {
    position: sticky;
    margin-left: 90px;
}

.S-Case {
    position: sticky;
    left: 740px;
    margin-top: -712px;
}

.S-Powerbank {
    position: sticky;
    left: 740px;
    margin-top: -305px;
}

/*settings*/

.set-data {
    position: absolute;
}

.set-email {
    position: absolute;
    top: 110px;
}

.set-pass {
    position: absolute;
    top: 147px;
}

.set-back {
    position: absolute;
    top: 183px;
}

/*shop*/

.MS-Phone {
    position: sticky;
    margin-left: 90px;
    margin-top: 40px;
}

.MS-Headphone {
    position: sticky;
    margin-left: 90px;
}

.MS-Case {
    position: sticky;
    left: 740px;
    margin-top: -712px;
}

.MS-Powerbank {
    position: sticky;
    left: 740px;
    margin-top: -305px;
}

/*edit*/

.edit-btn {
    position: relative;
    top: 10px;
}

.textar {
    width:276px;
}
/*buy*/

.product-foto {
    position: absolute;
    left:300px;
}

.product {
    position: absolute;
    top:550px;
}

.product-btn {
    position: relative;
    top: 520px;
}

/*index*/

.inp {
    margin-left:5px;
    margin-right:15px;
}

.sel {
    margin-left: 5px;
    margin-right: 15px;
}

.btt {
    margin-left: 15px;
    margin-right: 15px;
}

/*moder*/

.M-Phone {
    position: sticky;
    margin-left: 38px;
    margin-top: 0px;
}

.M-Headphone {
    position: sticky;
    margin-left: 38px;
}

.M-Case {
    position: sticky;
    left: 740px;
    margin-top: -712px;
}

.M-Powerbank {
    position: sticky;
    left: 740px;
    margin-top: -305px;
}