/*<-----START_ОБЩЕЕ----->*/

/*header*/
.navbar { /*Общие настройки хедера*/
    padding: 0.5rem 1rem;
    background-color: #212529 !important;
}

a.navbar-brand { /*Адаптивность*/
    white-space: normal;
    text-align: center;
    word-break: break-all;
    min-width: 106px; /*первые три свойства по-умолчанию, а вот это добавил как один из вариантов, чтобы название не комкалось. 
        Можно было бы откл. word-break, но тогда немного бы потерялась адаптивность меню.*/
}
/*---------*/

/*Отступы у правых элементов хэдера*/
.space_head_el {
    margin-right: 10px;
}

/*Язык. (Находиться в папке Shared в файле _SelectLanguagePartial)*/
.lang { 
    color: #f8f9fa;
}

/*Приветствие пользователя*/
.gretting_text { 
    margin-bottom: -1px;
    color: #f8f9fa;
}

/*Кнопка "Вход"*/
.login {
    background-color: #96989a;
}

/*Кнопка "Регистрация"*/
.register {
    background-color: #96989a;
}

/*Кнопка "Выход"*/
.logout {
    background-color: #96989a;
    margin-right: 2px;
}

/*Футер*/
.footer {
    background-color: #212529;
}

/*Расстояние между элементами в поисковой строке*/
.space_el {
    margin-right: 16px;
}

/*Центрирование таблиц*/
.center_table {
    display: flex;
    justify-content: center;
}

/*Чтобы был доступен скрол бар при маленьком экране у таблиц.
    Такие танцы из-за центрирования таблиц, если отказаться от них
    (В частности от свойства display: flex;, то тогда не нужен будет
    и display: grid;)
*/
.to_grid{
    display:grid;
}

/*Адаптивность таблиц*/
.table-wrap {
    text-align: center;
    display: inline-block;
    /*Отступы по бокам. Не используется, но вдруг понадобиться.*/
    /*padding: 0 2.5rem;*/
}

/*Перенос текста в таблицах*/
.word_br {
    word-break: break-word;
}

/*Отступ между ячейками таблиц*/
td, th {
    padding: .35rem !important;
}

/*Кнопки витрины товаров*/
a.btn.btn-lg.btn-outline-dark {
    border-color: #f8f9fa;
    border-radius: 1.5rem;
}

/*pagination*/
/*Предыдушая и следующая страницы*/
.pagination > li > a { 
    color: black;
}

/*Предыдушая и следующая страницы при наводке курсора на них*/
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover { 
    color: black;
    border-color: #212529;
}

/*Текущая (активная) страница*/
.pagination > .active > a {
    color: white !Important;
    background-color: #212529 !Important;
    border-color: #212529 !Important;
}

/*Текущая (активная) страница при наводке курсора на неё.
  Не используется, но вдруг понадобиться.
*/
/*.pagination > .active > a:hover { 
    background-color: #5A4181 !Important;
    color:red !Important;
}*/
/*---------*/

/*<-------END_ОБЩЕЕ------->*/


/*<----------START_HOME---------->*/

/*Index*/
/*Панель доступа пользователя*/
.user_panel {
    float: right;
    margin-top: -11px;
    margin-bottom: 6px;
}

/*Панель доступа модератора*/
.moder_panel {
    float: right;
    margin-bottom: 6px;
    clear: both;
}

/*Панель доступа админа*/
.admin_panel {
    float: right;
    margin-bottom: 6px;
    clear: both;
}

/*Заголовок*/
.main_text_home {
    clear:both;
    margin-top: 9px;
    text-align: center;
}

/*Блок новостей*/
.news_block {
    display: table;
    text-align: center;
    margin: 37px auto;
    padding: 0 30px;
    background-color: aliceblue;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    outline: 1px solid black;
    min-width: 300px;
    max-width: 480px;
}

/*Текст новости*/
.news {
    font-size: 20px;
    color: red;
}

/*Блок меню товаров*/
.menu_block {
    max-width: 640px;
    margin: 37px auto 0;
    text-align: center;
}

/*Элемент блока меню товаров*/
.shop-element{
    display:inline-block;
    margin:5px;
}
/*---------*/

/*Settings*/
/*Заголов настроек*/
.settings_head {
    float: right;
    margin-right: 26px;
}

/*Блок настроек*/
.settings {
    clear: both;
    float: right;
    margin-top: 7px;
}

/*Отступы сверху у кнопок настроек*/
.space_set {
    margin-top: 6px;
}
/*---------*/

/*MyOrders*/
/*Центрирование по вертикали заголовочных колонок таблицы*/
.th_up{
    vertical-align:middle!important;
}
/*---------*/

/*Contacts*/
/*Адаптивное отображение карты*/
.disp_map{
    display:flex;
}
/*---------*/

/*<----------END_HOME---------->*/


/*<----------START_BOOKING---------->*/

/*Index*/
/*Центрирования блока поиска около таблицы заказов*/
.center_find_form_booking {
    max-width: 804px;
    margin: 0 auto;
}
/*---------*/

/*<----------END_BOOKING---------->*/


/*<----------START_EDITSHOP---------->*/

/*Index*/
/*Заголовок*/
.main_text_editshop {
    margin-top: 110px;
    text-align: center;
}
/*---------*/

/*ShowProduct*/
/*Центрирования блока поиска около таблицы редактирования товаров*/
.center_find_form_editshop {
    max-width: 894px;
    margin: 0 auto;
}

/*Отступы для кнопок в таблице редактирования товаров*/
.space_btn {
    margin-bottom: 15px;
}
/*---------*/

/*<----------END_EDITSHOP---------->*/


/*<----------START_ADMIN---------->*/

/*Index*/
/*Центрирования блока поиска около админ-таблицы*/
.center_find_form_adm {
    max-width: 654px;
    margin: 0 auto;
}
/*---------*/

/*<----------END_ADMIN---------->*/


/*<----------START_SHOP---------->*/

/*Index*/
/*Заголовок*/
.main_text_shop {
    clear: both;
    margin-top: 70px;
    text-align: center;
}

/*Блок новостей*/
.news_block_shop {
    display: table;
    text-align: center;
    margin: 56px auto;
    padding: 0 30px;
    background-color: aliceblue;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    outline: 1px solid black;
    min-width: 300px;
    max-width: 480px;
}

/*Блок меню товаров*/
.menu_block_shop {
    max-width: 640px;
    margin: 37px auto 0;
    text-align: center;
}
/*---------*/

/*Product*/
/*Центрирования блока поиска около магазинной таблицы*/
.center_find_form_shop {
    max-width: 607px;
    margin: 0 auto;
}

/*Отступы у кнопок в таблице товаров*/
.space_el_sh_b {
    margin-left: 9px;
}
/*---------*/

/*Buy*/
/*Блок информации о текушей покупке*/
.confirm_buy {
    width: 366px;
    text-align: center;
}
/*---------*/

/*<----------END_SHOP---------->*/


/*<----------START_NEWS---------->*/

/*Index*/
/*Заголовок*/
.main_text_news{
    text-align:center
}
/*---------*/

/*<----------END_NEWS---------->*/

/*Адаптивная вёрстка для моб. версии
    Когда ширина экрана меньше 992px
*/
@media screen and (max-width: 992px) {

    /*Кнопка "Вход"*/
    .login {
        margin-left: 196px;
    }

    /*Кнопка "Регистрация"*/
    .register {
        margin-right: 10px;
    }

    /*Кнопка "Выход"*/
    .logout {
        margin-right: 10px;
    }

    /*Расстояние между элементами в поисковой строке*/
    .space_el {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    /*Адаптивность таблиц (включение скроллбара по горизонтали)*/
    .table-wrap {
        overflow-y: auto;
        padding: 0 0;
    }

    /*Отступы у кнопок в таблице товаров*/
    .space_el_sh_b {
        margin-left: 0px;
        margin-top: 10px;
    }

}